<h1>Prezado(a) <%= @user.name %>!</h1>
<p>
  Você foi cadastrado como funcionário na empresa <%= @user.company.name %>. Suas credenciais são:
</p>

<p>
  Email: <%= @user.email %><br>
  Senha: <%= @password %>
</p>

<p>
  Acesse o sistema e faça login com as credenciais acima. Após o login, é recomendável que você altere sua senha.
</p>